# Enable URL rewriting
RewriteEngine On
RewriteBase /Techbee-HR/

# Prevent directory listing in 'uploads'
Options -Indexes

# Allow direct access to these folders and files
RewriteCond %{REQUEST_URI} !^/Techbee-HR/(uploads|assets|images|captcha|css|js|template|robots\.txt)

# Only rewrite if the requested file or directory doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite all other requests to index.php
RewriteRule ^(.*)$ index.php/$1 [L]